{% extends 'base.html' %}

{% load static %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <section class="parallax-section">
    <div class="parallax-background about-parallax">
      <div class="container text-center text-white d-flex align-items-center justify-content-center">
        <div class="intro-text">
          <br />
          <h1 class="display-4 font-weight-bold" style="font-size: 38px;">CONTACT US</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-form-section container mt-5">
    <div class="row">
      <!-- Contact Form -->
      <div class="col-12 col-md-6 mb-4">
        <div class="card p-4 bg-light mx-auto" style="border-radius: 50px 0px 50px 0px;">
          <h3 class="font-weight-bold mb-4 text-center" style="font-size: 30px;">Send Us A Message</h3>
          <form>
            <div class="form-group mb-3">
              <label for="name"></label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name" required />
            </div>
            <div class="form-group mb-3">
              <label for="email"></label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email" required />
            </div>
            <div class="form-group mb-3">
              <label for="message"></label>
              <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>

      <!-- Google Map Section -->
      <div class="col-12 col-md-6">
        <div class="text-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7808.89176067129!2d75.37442101321412!3d11.874009094253042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba43d2e02804173%3A0x625862778439b3e0!2sHighland%20Properties!5e0!3m2!1sen!2sin!4v1727442523170!5m2!1sen!2sin" width="340" height="460" allowfullscreen="" loading="lazy" style="border: 0px; border-radius: 50px 0px 50px 0px;"></iframe>
        </div>
      </div>
    </div>
  </section>

  <br />
  <br />
  <style>
    .form-control {
      border-radius: 10px;
      height: 40px;
    }
    .btn {
      border-radius: 10px;
    }
  </style>
{% endblock %}
