{% extends 'base.html' %}

{% load static %}

{% block title %}
  Services
{% endblock %}

{% block content %}
  <section class="parallax-section">
    <div class="parallax-background properties-parallax">
      <div class="container text-center text-white d-flex align-items-center justify-content-center min-vh-100">
        <div class="intro-text">
          <br />
          <h1 class="display-4 font-weight-bold" style="font-size: 38px;">OUR SERVICES</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="services-section" class="container my-5">
    <div class="text-center mb-5">
      <h2 class="font-weight-bold" style="font-size: 35px;">WHAT WE OFFER</h2>
      <p style="font-size: 20px;">Explore the range of services we provide to cater to your needs.</p>
    </div>

    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03851_8db77d7188.jpg" alt="Service 1" />
            <div class="card-overlay-text">
              <h5 class="card-title">Property Sales</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_Liam_and_Emma_2_112bb3543e.jpg" alt="Service 2" />
            <div class="card-overlay-text">
              <h5 class="card-title">Property Rentals</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_shutterstock_1031148421_1_bd359860d3.jpg" alt="Service 3" />
            <div class="card-overlay-text">
              <h5 class="card-title">Property Management</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03657_3_1_382282369d.jpg" alt="Service 4" />
            <div class="card-overlay-text">
              <h5 class="card-title">Valuation and Appraisal</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://www.officeinspiration.com/wp-content/uploads/LuxusITDubai-ZIKZAK4.jpg" alt="Service 5" />
            <div class="card-overlay-text">
              <h5 class="card-title">Market Analysis</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03590_copy_2_1_95aa0453d3.jpg" alt="Service 6" />
            <div class="card-overlay-text">
              <h5 class="card-title">Marketing and Services</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DJI_0022_copy_1_b55ba83687.jpg" alt="Service 7" />
            <div class="card-overlay-text">
              <h5 class="card-title">Investment Advice</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_shutterstock_1802878510_1_b6a4ace673.jpg" alt="Service 8" />
            <div class="card-overlay-text">
              <h5 class="card-title">Brokerage Services</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://www.mattersuite.com/blog/wp-content/uploads/2023/08/Law-Firm-Financial-Management-A-Guide-for-the-Busy-Lawyer.jpg" alt="Service 7" />
            <div class="card-overlay-text">
              <h5 class="card-title">Legal and Financial Guidance</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-md-6 col-lg-6 mb-4">
        <!-- Changed col-lg-3 to col-lg-6 -->
        <div class="card-overlay h-100">
          <div class="card-img-wrapper">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/D5612AQHuUVkf8BOQ8Q/article-cover_image-shrink_600_2000/0/1695050382740?e=2147483647&v=beta&t=XLKwuP1BUmsjJL5plFoNj3ANJRukKnszrdAukca5lSk" alt="Service 8" />
            <div class="card-overlay-text">
              <h5 class="card-title">Relocation Services</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
{% endblock %}
