{% extends 'base.html' %}

{% load static %}

{% block title %}
Services
{% endblock %}

{% block content %}
<section class="parallax-section">
    <div class="parallax-background services-parallax"> <!-- Add a specific class for services page -->
        <div class="container text-center text-white d-flex align-items-center justify-content-center">
            <div class="intro-text">
                <h1 class="display-4 font-weight-bold">Our Services</h1> <!-- Change heading to match services -->
                <a href="#services-content" class="btn custom-btn mt-4 scroll-down">Explore our services</a>
            </div>
        </div>
    </div>
</section>
<div class="services-container">
    <section id="services-content" class="container mt-5 text-center" style="font-size: 30px;">
        <h2><b>What We Offer</b></h2>
        <p class="text" style="font-size: 16px; font-family: 'Poppins', sans-serif;">We offer a range of services designed to meet your needs, including personalized consulting, project management, and tailored solutions. Our team of experts is dedicated to delivering high-quality support, ensuring efficiency and effectiveness in every project. With a focus on customer satisfaction, we strive to exceed your expectations every time.</p>
    </section>
    <br>
    <br>
    <div class="row">
        <!-- Service Item 1 -->
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03851_8db77d7188.jpg" alt="Sell With Us">
                <div class="card-body">
                    <h5 class="card-title text-center">Sell With Us</h5>
                </div>
            </div>
        </div>
        <!-- Service Item 2 -->
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_Liam_and_Emma_2_112bb3543e.jpg" alt="Let With Us">
                <div class="card-body">
                    <h5 class="card-title text-center">Let With Us</h5>
                </div>
            </div>
        </div>
        <!-- Service Item 3 -->
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03657_3_1_382282369d.jpg" alt="Buy With Us">
                <div class="card-body">
                    <h5 class="card-title text-center">Buy With Us</h5>
                </div>
            </div>
        </div>
        <!-- Service Item 4 -->
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03590_copy_2_1_95aa0453d3.jpg" alt="Rent With Us">
                <div class="card-body">
                    <h5 class="card-title text-center">Rent With Us</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_DSC_03590_copy_2_1_95aa0453d3.jpg" alt="Rent With Us">
                <div class="card-body">
                    <h5 class="card-title">Rent With Us</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_shutterstock_1031148421_1_bd359860d3.jpg" alt="Commercial">
                <div class="card-body">
                    <h5 class="card-title">Commercial</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_shutterstock_409925923_1_7d7709be52.jpg" alt="Off-Plan">
                <div class="card-body">
                    <h5 class="card-title">Off-Plan</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 service-item">
            <div class="card">
                <img src="https://strapiallsopp.s3.eu-west-1.amazonaws.com/small_shutterstock_1802878510_1_b6a4ace673.jpg" alt="Mortgage Services">
                <div class="card-body">
                    <h5 class="card-title">Mortgage Services</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}
